<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @topic.description %>
</p>

<h2>Comments</h2>
<%= render @topic.comments %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>